<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADAccountManager.Resources.Raw.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADAccountManager.Resources.Raw.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ADAccountManager.Resources.Raw.Settings1>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
        </ADAccountManager.Resources.Raw.Settings1>
    </applicationSettings>
    <userSettings>
        <ADAccountManager.Resources.Raw.Config>
            <setting name="Domain" serializeAs="String">
                <value>ferrum.local</value>
            </setting>
        </ADAccountManager.Resources.Raw.Config>
    </userSettings>
</configuration>